<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h3><i class="fas fa-utensils"></i> Delicious Meals</h3>
        <p>
          Crafting exceptional dining experiences with fresh, locally sourced ingredients and
          innovative culinary techniques. Your satisfaction is our recipe for success.
        </p>
        <div class="social-links">
          <a
            href="https://www.linkedin.com/in/ahmed-omran-310a91317/"
            target="_blank"
            rel="noopener noreferrer"
            class="social-link tiktok"
          >
            <i class="fab fa-linkedin"></i>
          </a>

          <a
            href="https://github.com/ahmed22981"
            target="_blank"
            rel="noopener noreferrer"
            class="social-link youtube"
          >
            <i class="fab fa-github"></i>
          </a>

          <a href="#" class="social-link facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-link twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-link instagram"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <div class="footer-section">
        <h3><i class="fas fa-link"></i> Quick Links</h3>
        <ul>
          <li>
            <a routerLink=""><i class="fas fa-home"></i> Home</a>
          </li>
          <li>
            <a routerLink="meals"><i class="fas fa-book-open"></i> Meals</a>
          </li>
          <li>
            <a routerLink="aboutus"><i class="fas fa-info-circle"></i> About Us</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-envelope"></i> Contact</a>
          </li>
        </ul>
      </div>

      <div class="footer-section">
        <h3><i class="fas fa-map-marker-alt"></i> Contact Us</h3>
        <div class="contact-info">
          <div class="contact-item">
            <i class="fas fa-phone"></i>
            <span>+201028844211</span>
          </div>
          <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <span>ahmedhatemomran.com</span>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2026 Delicious Meals. All rights reserved.</p>
      <p>
        Made with <span class="heart"><i class="fa-light fa-heart"></i></span> for food lovers
        everywhere
      </p>
    </div>
  </div>
</footer>
